conf/urls*.txt
conf/mailaddr*.txt
node_modules/
old/
files.txt
.env

# Ignore all files in log/ and data/ directories
log/*
data/*

# But do not ignore .gitkeep files
!log/.gitkeep
!data/.gitkeep
!conf/urls.txt.org
!conf/mailaddr.txt.org